.addNewCardButton{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    border-radius: 8px;
    height: 300px;
    cursor: pointer;
    background-color: #ececec;
}

.addNewCardButton:hover {
    background-color: #ccc;
}

.addNewCardButtonImg{
    filter: brightness(0) invert(0);
}