:root {
    --color-grey: #5f6358;
    --color-grey-light: grey;
    --font: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .cards {

} */
/* global.css ou no arquivo CSS onde os cards são utilizados */
.cards {
    display: flex;
    margin-left: 6%;
    flex-wrap: wrap; /* Permite que os cards se movam para a linha seguinte */
    gap: 10px; /* Espaçamento entre os cards */
  }
  