
h1{
    color: blue;
  }

  button{
    background-color: blue;
    padding-left: 15%;
    padding-right: 15%;
    
  }
  .btn{
    color: aliceblue;
    
  }

  p{
    color: green;
  }

  section{
    border-style:solid;
    border-color: grey;
    border-width: 1px;
    background-color: lightgray;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-bottom: 20px;
  }.padding{
    padding: 10px;
  }
  body{

  }

  div.all-page{
    flex: auto;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-inline: 20%;
  }