.menuLateral {
    height: 100%;
    position: fixed;
    border-right: 1px solid var(--color-grey-light);
    padding-top: .5rem;
    padding-bottom: 8rem;
    display: flex;
    flex-direction: column;
    transition: width 0.5s ease;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    background-color: #fff;
    z-index: 99999;
}

.divider {
    border-bottom: 1px solid var(--color-grey-light);
    margin: .5rem 0;
    width: 100%;
}

.iconMenu {
    width: 24px;
    height: 24px;
}

.iconSeta {
    position: absolute;
    left: 4px;
}

.containerIcon {
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 1.5rem;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    position: relative;
}

.descriptionTurma {
    padding-left: 1rem;
}

.iconTurma {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #3c3c3c;
}